<div id="forgot-password-component" class="primary-bg-color">
    <h1 id="brand-name">MMR Fitness Center</h1>
    <h2 class="text-primary">Reset Password</h2>
    <div>
        <label for="email">
            <input type="text" placeholder="Email" class="input-primary" [formControl]="email">
        </label>
        <h3 id="reset-info"> New password will be sent to your email.</h3>
    </div>
    <button class="button-primary" (click)="submit()">Submit</button>
    <a routerLink="" id="return-link">
        <mat-icon aria-hidden="false" aria-label="arrow back icon" id="back-icon">arrow_back</mat-icon>
        Back to Login
    </a>
</div>
