#forgot-password-component {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    #reset-info {
        font-family: Oxygen;
        font-size: 14px;
        color: #7a7a7a;
        text-align: center;
    }

    #return-link {
        color: #696969;
        font-family: Oxygen-Bold;
        font-size: 18px;
        text-decoration: none;
        display: flex;
        align-items: center;

        #back-icon {
            margin-right: 10px;
        }
    }
}