.text-primary {
    color: black;
    font-family: Oxygen-Bold;
    font-size: 36px;
}

.text-secondary {
    color: #7a7a7a;
    font-family: Oxygen;
    font-size: 18px;
}

.input-primary {
    max-width: 325px;
    max-height: 75px;
    width: 290px;
    height: 75px;
    border-radius: 15px;
    padding: 0px 5px 0px 35px;
    margin: 10px 0px;
    font-size: 14px;
    font-family: Oxygen-Light;
    border: none;
    outline: none;
}

.input-primary::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    position: absolute;
    left: 35px;
    top: 30px;
}

.primary-bg-color {
    background-color: #F6F6F6;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-primary {
    width: 325px;
    height: 75px;
    text-align: center;
    border-radius: 25px;
    background-color: #F1AB58;
    border: none;
    font-family: Oxygen-Bold;
    font-size: 18px;
    outline: none;
}

#brand-name {
    font-family: Righteous;
    font-size: 36px;
    color: #D48032;
}