@font-face {
    font-family: Righteous;
    src: url("../assets/fonts/Righteous-Regular.ttf");
}

@font-face {
    font-family: Oxygen-Light;
    src: url("../assets/fonts/Oxygen-Light.ttf");
}
@font-face {
    font-family: Oxygen;
    src: url("../assets/fonts/Oxygen-Regular.ttf");
}

@font-face {
    font-family: Oxygen-Bold;
    src: url("../assets/fonts/Oxygen-Bold.ttf");
}